html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(225, 225, 225);
	min-width: 340px;
}

#header {
    background-color: #00756c;
    margin: 0;
    padding: 0;
}

.center {
    margin: 0;
    padding-top: 30px;;
    padding-bottom: 20px;
}

#contactForm {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#filterInput {
    padding-left: 10px;
	font-size: 18px;
    color: white;
    margin-bottom: 0;
}

#addContact {
    display: none;
    font-size: 12px;
    height: 45px;
    width: 160px;
    padding: 0;
    margin-left: 15px;
}

#names {
	border: none !important;
	margin-top: 20px;
	flex: 1 0 auto;
	margin-bottom: 5%;
}

.collection-header {
    background-color: #63d7cb !important;
    height: 40px !important;
    padding-left: 25px !important;
    padding-bottom: 0px !important;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: -1px;
}

h5 {
    font-size: 22px !important;
    line-height: 0px !important;
}

.itemCont {
	transition: all .2s ease-in-out;
	margin-left: 35%;
    margin-right: 35%;
	border: solid .5px lightgrey;
}

.itemCont:hover {
	transform: scale(1.1); 
}

.collection-item {	  
    background-color: #fafafa !important;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

a {
    color: black !important;
}

.footer {
	flex-shrink: 0;
    background: #25a59a;
    line-height: 0px;
    color: rgba(0, 0, 0, .85);
    text-align: center;
    height: 40px;
}


.footer a:hover {
	color: white;
}

h1 {
	color: white;
}

@media (max-width: 1400px){
	#contactForm {
        margin-left: 25%;
        margin-right: 25%;
}
	
	.collection-header {
		padding: 5px 25px !important;
		margin-left: 25%;
		margin-right: 25%;
	}

	.itemCont {
        transition: all .2s ease-in-out;
        margin-left: 25%;
        margin-right: 25%;
        border: solid .5px lightgrey;
	}
}

@media (max-width: 600px){
    .center {
        padding-top: 10px;;
        padding-bottom: 10px;
    }
	#contactForm {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0%;
        margin-right: 0%;
}
	
	.collection-header {
		padding: 5px 25px !important;
		margin-left: 0%;
		margin-right: 0%;
	}

	.itemCont {
        transition: all .2s ease-in-out;
        margin-left: 0%;
        margin-right: 0%;
        border: solid .5px lightgrey;
	}
}


