
h1 {
	color: white;
}

a {
    font-size: 16px;
}

#contactForm {
    display: flex;
    justify-content: space-between;

}

#filterInput {
	font-size: 18px;
	color: white;
}

#addContact {
    display: none;
    font-size: 12px;
    height: 45px;
    width: 140px;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 15px;
}

.collection-item {
    display: flex;
    justify-content: space-between;
}
